%image-zoom {
  img {
    transform-origin: 50% 50%;
    transition: transform 0.9s var(--ease-image-zoom) !important;
    will-change: transform !important;

    &:hover {
      transform: scale(1.1);
    }
  }
}
