.container-scope-artists {
  .container-artists {
    margin-top: var(--spacer-8);

    .row-reverse-md {
      flex-direction: column-reverse;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    .content-blocks .container-fluid {
      @include media-breakpoint-up(md) {
      margin-left: auto!important;
      margin-right: auto!important;
      }
    }

    .row, .content-blocks .container-fluid {
      margin-bottom: var(--spacer-7);

      @include media-breakpoint-up(md) {
        margin-bottom: var(--spacer-10);
        margin-left: -1.5rem;
        margin-right: -1.5rem;
      }
    }

    .content-blocks .container-fluid .row {
      margin-bottom: 0;
    }

    .heading {
      margin-top: var(--spacer-6);
      margin-bottom: var(--spacer-3);
      text-transform: uppercase;
      line-height: 100%;
      @include fluid-font-size(2.5rem, 3.75rem);
      position: relative;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    .short-description {
      margin-bottom: var(--spacer-6);
      @extend %paragraph-base;
      line-height: 130%;

      @media (min-width: 768px) {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .divider {
      width: rfs-value(40px);
      border-bottom: 1px solid var(--color-secondary);
      margin: 0 auto;
    }

    video {
      width: 100%;
      height: auto;
    }

    .feature-image-square, .feature-video-square {
      aspect-ratio: 1/1;
    }

    .feature-video-landscape {
      @include media-breakpoint-up(sm) {
        height: 0;
        padding-bottom: calc(50% - 20px); 
        position: relative;
        video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .long-description {
      white-space: pre-line;
      margin-bottom: var(--spacer-10);
      line-height: 130%;
      @extend %paragraph-base;
    }

    .content-blocks {
      padding-right: var(--spacer-4);
      padding-left: var(--spacer-4);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      @include media-breakpoint-up(sm)  {
        padding: 0;
        column-gap: 40px;
      }
      @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }


      .block {
        margin-bottom: 20px;
        @include media-breakpoint-up(sm) {
          margin-bottom: 40px;
        }
      }

        .col-span-1 {
          grid-column: span 1 / span 1;
        }
        .col-span-2 {
          grid-column: span 2 / span 2;
        }

        .full-mobile {
          @include media-breakpoint-down(md) {
            grid-column: span 2 / span 2;
            display: flex;
            column-gap: 20px;
            @include media-breakpoint-up(sm)  {
              column-gap: 40px;
            }
        }
      }

      .container-fluid {
        padding: 0;
      }

      .text-container {
        .description {
          margin-bottom: var(--spacer-6);
          line-height: 130%;
          @extend %paragraph-base;
          @include media-breakpoint-up(md) {
            margin-bottom: var(--spacer-7);
          }
        }
      }
   
      .feature-block {
        .feature-image-left-square {
          margin-top: 0;
        }
  
        .feature-image-right-portrait {

          @include media-breakpoint-up(md) {
            margin: 0;
          }
        }
      }

      .feature-divider {
        display:none;
      }
    }

    .single-landscape-block {
      .feature-image-landscape {
        @include media-breakpoint-up(md) {
          width: 56%;
          margin-left: 22%;
        }
      }
    }

  }

}
