.container-scope-contact {
  .container-contact {
    margin-top: var(--spacer-6);
    min-height: calc(100vh - var(--spacer-6));
  }

  .heading {
    margin-top: var(--spacer-6);
    margin-bottom: var(--spacer-6);
    text-transform: uppercase;
    line-height: 100%;
    @include fluid-font-size(2.5rem, 3.75rem);
    @include media-breakpoint-up(md) {
      margin-top: var(--spacer-8);
    }
  }

  .divider {
    width: rfs-value(40px);
    border-bottom: 1px solid var(--color-secondary);
    margin-right: auto;
    margin-bottom: var(--spacer-6);
    margin-left: auto;
  }

  .email,
  .phone-number,
  .address,
  .directions,
  .locations,
  .subscribe-input,
  .subscribe-text {
    @extend %paragraph-base;
    line-height: 130%;
    white-space: pre-line;

    a {
      transition: color 0.3s var(--ease);
    }
  }

  .address,
  .directions {
    @extend %small-copy;
  }

  .phone-number,
  .locations {
    margin-bottom: 1.3rem;
  }

  .address {
    margin-bottom: 0;
  }

  .directions {
    text-decoration: underline;
		margin-bottom: var(--spacer-2);
  }

  .map {
		margin-top: var(--spacer-4);
    margin-bottom: var(--spacer-6);
  }

  .mapboxgl-control-container {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .subscribe {
    display: none;
  }

  .subscribe-input {
    color: var(--color-secondary);
    margin-top: var(--spacer-2);
    margin-bottom: var(--spacer-5);
    border-radius: unset;
    border: 1px solid var(--color-secondary);
    background-color: var(--color-primary);
    height: 2.2rem;
    padding: var(--spacer-2);

    &::placeholder {
      color: var(--color-secondary);
    }
  }

  .socials {
    margin-bottom: var(--spacer-5);

    &:first-of-type {
      margin-right: var(--spacer-2);
    }
  }
}
